HTTP/<TMPL_VAR name="major">.<TMPL_VAR name="minor"> <TMPL_VAR name="code"> <TMPL_VAR name="status">
Server: iAjax/1.0.0
Date: <TMPL_VAR name="datetime">
Content-Type: application/json;charset=UTF-8
Content-Length: <TMPL_VAR name="length">
Connection: keep-alive

<TMPL_IF name = "body"><TMPL_VAR name="body"></TMPL_IF>
<TMPL_IF name = "body">

</TMPL_IF>
